<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'tests/test.js' %}"></script>

</head>
<body>
<div id="timer" data-time="{{ time_to_solve }}">  </div>
{{ question.question_text }}

<form method="post" action="{% url 'tests:action' %}" id="control_form">
    {% csrf_token %}
    {% for answer in answers %}
    <div>
        {{ answer|safe }}
    </div>
    {% endfor %}
    <input type="submit" id="prev" value="Предыдущий вопрос" {% if not has_prev %} disabled {% endif %} >
    <input type="submit" id="next" value="Следующий вопрос" {% if not has_next %} disabled {% endif %} >
</form>

<script>
    const types_check = ['ONE', 'SEVERAL'];
    const types_manual = ['MANUAL'];
    {% for answer in temp_answers %}
        if (types_check.includes('{{ question.question_type }}'))
            $('#{{ answer }}').prop('checked', true);
        else if (types_manual.includes('{{ question.question_type }}'))
            $('textarea').prop('value', '{{ answer }}');
    {% endfor %}
</script>

<script>
    $("input[type='submit']").on('click', function(e) {
        $('<input>').attr({
                type: 'hidden',
                name: 'available-time',
                value: $('#timer').data('time')
            }).appendTo('form');

        $('<input>').attr({
            type: 'hidden',
            name: 'action-type',
            value: $(this).prop('id')
        }).appendTo('form');
    });
</script>
</body>
</html>
